*{
    margin: 0;
    padding: 0%;
    font-family: 'Outfit',sans-serif;
    box-sizing: border-box;
}
body{
   background-color: #000000;
   display: flex;
   align-items: center;
   justify-content: center;
}
.card{
    width: 90%;
    max-width: 470px;
    background-color: rgba(126, 224, 227, 0.324);
    color: #ffffff;
    margin: 200px auto 200px;
    border-radius: 20px;
    padding: 40px 40px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.69);  
    text-shadow: 2px 2px 20px #000000


}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search input{ 
    border: 0px;
    background: #ffffff;
    color: #000000;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

}
.search button{
    border: 0;
    outline: 0;
    background: #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 200px;
    margin-top: 30px;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

    
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    text-shadow: 0px 4px 8px #000000

}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    text-shadow: 0px 4px 8px #000000

}
.details{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px 20px;
    margin-top: 50px;
    border-radius: 10%;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5);
    text-shadow: 0px 4px 8px #000000



}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
    font-weight: 700;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}
.background {
    background-image: url(https://images.unsplash.com/photo-1603437873662-dc1f44901825?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
.blur{
    background: rgba(47, 145, 195, 0);
    backdrop-filter: blur(5px);
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
